---
import Section from "@components/Section.astro";
import CheckRegular from "@assets/icons/check-regular.svg";
---

<Section>
  <section class="flex flex-col items-center">
    <h2 class="text-center text-verde-xkale">Tu siguiente paso</h2>
    <p class="w-full max-w-2xl mx-auto text-white-xkale text-center">
      Esta sesi칩n puede redefinir la forma en que tu organizaci칩n se comunica,
      opera y genera resultados.
    </p>
    <p class="w-full max-w-2xl mx-auto text-white-xkale text-center">
      En solo 1 hora:
    </p>
    <ul class="grid grid-cols-1 md:grid-cols-3 gap-4 w-full mb-4">
      <li
        class="flex items-center gap-x-4 text-white-xkale bg-black-xkale/15 backdrop-blur-sm rounded-lg p-6"
      >
        <CheckRegular class="size-6 text-verde-xkale" />
        <span>Obtendr치s ideas accionables </span>
      </li>
      <li
        class="flex items-center gap-x-4 text-white-xkale bg-black-xkale/15 backdrop-blur-sm rounded-lg p-6"
      >
        <CheckRegular class="size-6 text-verde-xkale" />
        <span> Ver치s c칩mo otros ya est치n obteniendo resultados </span>
      </li>
      <li
        class="flex items-center gap-x-4 text-white-xkale bg-black-xkale/15 backdrop-blur-sm rounded-lg p-6"
      >
        <CheckRegular class="size-6 text-verde-xkale" />
        <span>Identificar치s qu칠 cambiar para escalar tu operaci칩n</span>
      </li>
    </ul>
    <div
      class="w-full max-w-2xl mx-auto text-white-xkale bg-black-xkale/15 text-center backdrop-blur-sm rounded-lg p-6"
    >
      <p>
        游꿢 Da el primer paso hacia una experiencia de cliente m치s eficiente y
      </p>
      <p class="mb-0">
        conectada. Reserva tu lugar y accede al enlace privado. Cupos limitados.
      </p>
    </div>
  </section>
  <section class="flex flex-col items-center">
    <h2 class="text-center text-verde-xkale">
      쯈u칠 te llevar치s de esta sesi칩n?
    </h2>
    <ul
      class="grid grid-cols-1 md:grid-cols-2 gap-4 w-full mb-6 text-white-xkale"
    >
      <li
        class="flex items-center gap-x-4 bg-black-xkale/15 backdrop-blur-sm rounded-lg p-6"
      >
        <CheckRegular class="size-6 text-verde-xkale" />
        <span>C칩mo mejorar la contactabilidad en tiempo real con IA </span>
      </li>
      <li
        class="flex items-center gap-x-4 bg-black-xkale/15 backdrop-blur-sm rounded-lg p-6"
      >
        <CheckRegular class="size-6 text-verde-xkale" />
        <span> Estrategias de orquestaci칩n multicanal sin fricciones </span>
      </li>
      <li
        class="flex items-center gap-x-4 bg-black-xkale/15 backdrop-blur-sm rounded-lg p-6"
      >
        <CheckRegular class="size-6 text-verde-xkale" />
        <span
          >Acciones concretas para reducir la carga operativa sin perder control</span
        >
      </li>
      <li
        class="flex items-center gap-x-4 bg-black-xkale/15 backdrop-blur-sm rounded-lg p-6"
      >
        <CheckRegular class="size-6 text-verde-xkale" />
        <span>Casos reales con resultados medibles en empresas de LATAM</span>
      </li>
    </ul>
    <p class="w-full max-w-2xl mx-auto text-white-xkale text-center">
      Adem치s, comprender치s c칩mo integrar tus canales y datos en una estrategia
      de experiencia del cliente unificada, capaz de personalizar a gran escala
      y adaptarse a las nuevas exigencias del mercado.
    </p>
  </section>
</Section>
