<footer id="form">
  <div
    class="container p-4 mx-auto md:px-8 lg:px-20 xl:px-32 2xl:px-48 typography"
  >
    <div class="w-full">
      <div class="_form_22"></div><script
        src="https://xkale.activehosted.com/f/embed.php?id=22"
        charset="utf-8"></script>
    </div>
  </div>
</footer>
