---
import Section from "@components/Section.astro";
---

<Section class="relative">
  <article
    class="flex flex-col h-full items-center justify-center text-white-xkale"
  >
    <img
      src="/images/xkale-session.webp"
      alt="xkale sessions logo"
      class="h-[11rem] [mask-image:linear-gradient(black_80%,_transparent)] mb-8"
    />
    <header>
      <h1 class="text-verde-xkale text-center">
        Descubre cómo resolver la baja contactabilidad y acelerar tus resultados
      </h1>
    </header>
    <p class="text-center w-full max-w-2xl">
      Las empresas en México que han integrado correctamente sus canales de
      contacto están mejorando sus indicadores clave. En esta sesión descubrirás
      cómo lo lograron.
    </p>
    <p class="text-center w-full max-w-2xl mb-8">
      Accede a estrategias accionables, herramientas concretas y casos reales
      que ya están transformando operaciones en LATAM. Mejora tu experiencia de
      cliente, optimiza procesos y escala resultados en ventas, cobranza y
      servicio.
    </p>

    <a
      href="/#form"
      class="bg-verde-xkale text-black-xkale font-bold px-4 py-2 max-w-max"
    >
      ¡Registrate ahora!
    </a>
  </article>
</Section>
