---
import Section from "@components/Section.astro";
import CheckRegular from "@assets/icons/check-regular.svg";
import Target from "@assets/icons/target.svg";
import Zap from "@assets/icons/zap.svg";
import Phone from "@assets/icons/phone.svg";
import LineChart from "@assets/icons/line-chart.svg";
---

<Section>
  <article class="flex flex-col items-center gap-12">
    <section class="flex flex-col items-center text-center">
      <h2 class="text-verde-xkale">
        ¿La baja contactabilidad está afectando tu operación?
      </h2>
      <div class="space-y-4">
        <p class="text-white-xkale w-full max-w-2xl mx-auto">
          Solo el <strong class="text-verde-xkale font-bold">13%</strong> de las
          empresas en México están enfrentando este desafío con plataformas de experiencia
          del cliente integradas. Las consecuencias ya se sienten en las ventas,
          la cobranza y la fidelización.
        </p>
        <p class="text-white-xkale w-full max-w-2xl mx-auto">
          Este evento te mostrará cómo optimizar tus procesos y mejorar tus
          indicadores, con estrategias que ya están dando resultados reales en
          LATAM.
        </p>
      </div>
      <aside
        class="bg-black-xkale/15 backdrop-blur-md rounded-xl p-6 text-white-xkale mt-8"
      >
        <p class="mb-0">
          Una sola sesión. 100% aplicable. Resultados que ya están funcionando
          en empresas de LATAM.
        </p>
      </aside>
    </section>

    <section class="flex flex-col items-center w-full">
      <h2 class="text-verde-xkale text-center">
        Lo que llevarás de esta sesión práctica:
      </h2>
      <ul class="grid grid-cols-1 md:grid-cols-3 gap-4 w-full mb-8">
        <li
          class="flex items-start p-6 space-x-4 rounded-xl bg-black-xkale/15 backdrop-blur-md"
        >
          <CheckRegular class="size-10 text-aguamarina" />
          <span class="text-white-xkale"
            >Estrategias para superar los bloqueos de llamadas que afectan tus
            KPIs</span
          >
        </li>
        <li
          class="flex items-start p-6 space-x-4 rounded-xl bg-black-xkale/15 backdrop-blur-md"
        >
          <CheckRegular class="size-10 text-aguamarina" />
          <span class="text-white-xkale"
            >Estrategias para superar los bloqueos de llamadas que afectan tus
            KPIs</span
          >
        </li>
        <li
          class="flex items-start p-6 space-x-4 rounded-xl bg-black-xkale/15 backdrop-blur-md"
        >
          <CheckRegular class="size-10 text-aguamarina" />
          <span class="text-white-xkale"
            >Estrategias para superar los bloqueos de llamadas que afectan tus
            KPIs</span
          >
        </li>
      </ul>
      <p class="text-white-xkale w-full max-w-2xl text-center">
        Una sola sesión. 100% aplicable. Resultados que ya están funcionando en
        empresas de LATAM.
      </p>
    </section>

    <section>
      <h2 class="text-verde-xkale text-center">
        Descifra qué están haciendo diferente los líderes que sí están logrando
        resultados:
      </h2>
      <ul
        class="grid grid-cols-1 md:grid-cols-2 gap-4 w-full text-white-xkale mb-8"
      >
        <li
          class="flex items-center space-x-4 p-6 rounded-xl bg-black-xkale/15 backdrop-blur-md"
        >
          <Target class="size-6 text-aguamarina" />
          <span>Supera los bloqueos de llamadas que afectan tus KPIs.</span>
        </li>
        <li
          class="flex items-center space-x-4 p-6 rounded-xl bg-black-xkale/15 backdrop-blur-md"
        >
          <Zap class="size-6 text-aguamarina" />
          <span
            >Aplica IA para personalización y contactabilidad en tiempo real.</span
          >
        </li>
        <li
          class="flex items-center space-x-4 p-6 rounded-xl bg-black-xkale/15 backdrop-blur-md"
        >
          <Phone class="size-6 text-aguamarina" />
          <span
            >Orquesta en todos tus canales de atención y reduce costos
            operativos.</span
          >
        </li>
        <li
          class="flex items-center space-x-4 p-6 rounded-xl bg-black-xkale/15 backdrop-blur-md"
        >
          <LineChart class="size-6 text-aguamarina" />
          <span
            >Visualiza resultados medibles sin interrumpir tus operaciones.</span
          >
        </li>
      </ul>
      <h4 class="text-white-xkale text-center">
        Este evento es tu hoja de ruta hacia una experiencia del cliente de
        clase mundial.
      </h4>
    </section>
  </article>
</Section>
