---
import { CardInfo, Container } from "@components";
---

<Container class="container">
  <h2>Este evento es para ti si...</h2>
  <ul>
    <CardInfo class="child-1">
      Eres un <strong>director de operaciones,CX o canales</strong> que busca mejorar
      la eficiencia y satisfacción del cliente en su contact center.
    </CardInfo>
    <CardInfo class="child-2">
      Quieres implementar <strong>IA</strong> y soluciones de orquestación de canales
      para mejorar la experiencia del cliente.
    </CardInfo>
    <CardInfo class="child-3">
      Buscas elevar tus ventas y cobranzas de tus servicios.
    </CardInfo>
    <CardInfo class="child-4">
      Buscas reducir costos operativos en el servicio al cliente y optimizar tus
      procesos en tiempo real.
    </CardInfo>
    <CardInfo class="child-5">
      Te enfrentas a problemas de contactabilidad y baja efectividad en ventas y
      cobranzas.
    </CardInfo>
  </ul>
</Container>

<style>
  h2 {
    color: var(--verde-planta);
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    margin-block: 0.83em;
    text-align: center;
  }
  ul {
    list-style: none;
    display: flex;
    flex-flow: column;
    gap: 1rem;
  }
  @media (width >= 1280px) {
    .container {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
    }
    ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
      gap: 1rem;
    }

    ul .child-1 {
      grid-column: span 2 / span 2;
    }
    ul .child-2 {
      grid-column: span 2 / span 2;
      grid-column-start: 3;
    }
    ul .child-3 {
      grid-column: span 2 / span 2;
      grid-row-start: 2;
    }
    ul .child-4 {
      grid-column: span 2 / span 2;
      grid-column-start: 3;
      grid-row-start: 2;
    }
    ul .child-5 {
      grid-column: span 4 / span 4;
      grid-row-start: 3;
      max-width: max-content;
      justify-self: center;
    }
  }
</style>
