---
import { Container } from "@components";
import { Icon } from "astro-icon/components";
---

<Container class="container-form" id="form">
  <div>
    <div class="logos">
      <Icon name="xkale-logo" class="xkale"/>
      <Icon name="genesys" class="genesys"/>
    </div>
    <h4>
      Reserva tu lugar y mejora la contactabilidad de tu contact center con IA
    </h4>
    <p>
      Este evento exclusivo para México es tu oportunidad para descubrir cómo
      las soluciones de IA pueden revolucionar la experiencia del cliente y
      posicionarte como líder en tu país.
    </p>
    <p>
      No te pierdas la oportunidad de aprender de expertos de la industria,
      conectar con líderes del sector y llevar tus operaciones a la máxima
      productividad.
    </p>
  </div>
  <div>
    <div class="_form_16"></div><script
      src="https://xkale.activehosted.com/f/embed.php?id=16"
      charset="utf-8"></script>
  </div>
</Container>

<style>
  .logos {
    display: flex;
    align-items: center;
    column-gap: 1.25rem;
  }
  .logos .xkale {
    font-size: 3rem;
  }
  .logos .genesys {
    font-size: 1.5rem;
  }
  .container-form {
    color: white;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.25rem;
  }
  .container-form h4 {
    font-size: 2.75em;
    line-height: 1;
    margin-block: 0.67em;
    color: var(--verde-planta);
    font-weight: bold;
    display: block;
    text-wrap: balance;
  }
  .container-form p {
    display: block;
    margin-block: 1em;
    line-height: 1.4;
    text-wrap: pretty;
  }
</style>