---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout
  title="cx con ia"
  description="Descubre cómo la IA puede mejorar la experiencia del cliente en tu contact center">
  <h1>hola</h1>
</BaseLayout>
