---
import LiveDay from "./LiveDay.astro";
---

<style>
  header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.25rem;
    padding: 1rem;
    color: white;
  }
  header a {
    color: white;
    text-wrap: pretty;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: var(--verde-planta);
    max-width: max-content;
  }
  p {
    display: block;
    margin-block: 1em;
  }
  h1 {
    font-size: 2em;
    margin-block: 0.67em;
    display: block;
    font-weight: bold;
    color: var(--verde-planta);
    text-wrap: balance;
    line-height: 1.4em;
  }
</style>

<header>
  <div>
    <h1>Transforma la experiencia de cliente en tu contact center en México</h1>
    <p>
      Conoce estrategias innovadoras para desafiar la baja contactabilidad en
      contact centers y BPO's, impulsando tus resultados operativos con la ayuda
      de la IA y soluciones integrales de CX.
    </p>
    <LiveDay />

    <a href="">Inscribirse ahora</a>
  </div>
  <div>
    <div class="_form_16"></div><script
      src="https://xkale.activehosted.com/f/embed.php?id=16"
      charset="utf-8"></script>
  </div>
</header>
