---
const { title, description, image } = Astro.props;
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import "@fontsource-variable/public-sans";
---

<style is:global>
  :root {
    --verde-planta: #6bd63d;
    --azul-cielo: #338fff;
  }
  /* en caso que se desactiven las animaciones */
  @media (prefers-reduced-motion: reduce) {
    * {
      animation: none;
      transition: none;
    }
  }
  /* reset de todos los margenes y paddings */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    vertical-align: baseline;
  }
  /* evitar problemas con las etiquetas de imagenes */
  img,
  picture,
  video,
  iframe,
  figure {
    max-width: 100%;
    width: 100%;
    display: block;
    /* opcional */
    object-fit: cover;
    /* opcional */
    object-position: center center;
  }
  a {
    display: block;
  }

  /* ...excepto los que se encuentran dentro de un parrafo */
  p a {
    display: inline;
  }
  html {
    scroll-behavior: smooth;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  a {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: "";
    content: none;
  }
  form,
  input,
  textarea,
  select,
  button,
  label,
  datalist {
    font-family: inherit;
    font-size: inherit;
    hyphens: auto;
    background-color: transparent;
    display: block;
    color: inherit;
    /* optional */
    appearance: none;
  }
  table,
  tr,
  td {
    border-collapse: collapse;
    border-spacing: 0;
  }
  svg {
    /* width: 100%; */
    display: block;
    fill: currentColor;
  }
  body {
    min-height: 100vh;
    font-size: 100%;
    line-height: 1.4em;
    font-family: "Public Sans Variable", sans-serif;
    background: url('/images/cover-cx.webp') fixed center;
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>

<html lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="cx con ia, live, xkale, customer experience, customer experience con ia"
    />
    <link rel="canonical" href="https://customerexperienceconia.xkale.com/" />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body>
    <Header/>
    <main>
      <slot />
    </main>
    <Footer/>
  </body>
</html>
